In [2]:
import pandas as pd
from pandas import Grouper
import matplotlib.pyplot as plt
import numpy as np
df=pd.read_csv('data.csv')

In [3]:
#Task1.1 - Find songs with value for energy column greater than 0.4 and display values for song_title column.
f1=df.sort_values('energy')['song_title']
f1

1594              Lyric Pieces, Book I Op. 12: I. Arietta
1595    String Quartet No. 4 in C Major, D. 46: II. An...
1537                                        Blue in Green
1598    Piano Quartet in E flat, Op.47: 3. Andante can...
1596              8 Fantasiestücke, Op.12 : 1. Des Abends
                              ...
2015                                        First Contact
1347                                           Unanswered
1297                                    A Darkened Gospel
1322                                           Pitchblack
1299                                        No Absolution
Name: song_title, Length: 2017, dtype: object

In [4]:
#Task1.2 - For songs with duration duration_ms value less than 300000 ms (300 s), find Top 10 “fastest” songs( songs with highest values for tempo column ) and display values for song_title, artistcolumns.
f2=df[df['duration_ms']<300000]
f3=f2.sort_values('tempo')[['song_title','artist']].tail(10)
f3

                song_title            artist
532        Wake Bake Skate            FIDLAR
1802             Mad Love.              JoJo
102         Willing & Able        Disclosure
1339  The Shaping Sickness  Shadow of Intent
826     Living Every Dream            Antwon
809        Tupelo - Part 1       Pop Staples
1711               Amazing     Big Time Rush
1960            Puppy Love      Donny Osmond
718            Hannah Hunt   Vampire Weekend
124       Danger and Dread        Brown Bird

In [5]:
#Task1.3 - Find songs with value for artist column = Drake and value for energy column greater than 0.5 and display values for song_title column.
f4=df[df['artist']=='Drake'][df['energy']>0.5]
f5=f4['song_title']
f5

C:\Users\DEVAL\AppData\Local\Temp\ipykernel_10988\30061524.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  f4=df[df['artist']=='Drake'][df['energy']>0.5]

5                      Sneakin’
37                      Jumpman
117               Hotline Bling
154                   Big Rings
440                   Headlines
589     Started From the Bottom
779     0 To 100 / The Catch Up
1016           Skepta Interlude
1218            Best I Ever Had
1223                  Take Care
Name: song_title, dtype: object

In [6]:
#Task2.1 - Create a dataframe of the songs that rank among top 10 for the instrumentalness metric. This dataframe should only contain the instrumentalness, song title and artist columns
f6=df.sort_values('instrumentalness',ascending=False)[['song_title','artist','instrumentalness']].head(10)
f6

,song_title,artist,instrumentalness
1313,Senseless Order,Signs of the Swarm,0.976
271,So Destroyed (channeling Rage Peace),Prince Rama,0.968
1575,A Hundred Dreams from Now,Ray Bryant,0.964
1619,Raven,John Dahlbäck,0.958
725,Strandbar (disko),Todd Terje,0.957
1546,Almas vaggvisa,Jan Lundgren Trio,0.956
1322,Pitchblack,Walking Dead On Broadway,0.955
1349,Prismatic Abyss,Aversions Crown,0.954
1661,Yebisah,Mark Knight,0.954
121,Chasing Heaven,Bassnectar,0.952

In [13]:
#Task2.2 - Create a dataframe of the average tempo for each of the top 10 most occurring artists.
f7=df['artist'].value_counts()[:10].index.tolist()
f8=df.groupby('artist')['tempo'].mean().to_dict()
f9={}
for i in f7:
   f9[i]=f8[i]
f10=pd.DataFrame(list(f9.items()),columns = ['Artist', 'Average Tempo'])
f10

            Artist  Average Tempo
0            Drake     112.406750
1        Rick Ross     110.721923
2       Disclosure     128.118417
3    WALK THE MOON     136.163600
4  Backstreet Boys     113.066600
5  Crystal Castles     128.600778
6           FIDLAR     145.983444
7           Future     128.989625
8     Fall Out Boy     133.815625
9         Skrillex     132.454125